<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
	<default>
		<system>
			<graylog>
				<enabled/>
				<facility><![CDATA[Staging]]></facility>
				<protocol>1</protocol>
				<host/>
				<port/>
			</graylog>
		</system>
	</default>
</config>
