<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
	<type name="Magento\Framework\Console\CommandList">
		<arguments>
			<argument name="commands" xsi:type="array">
				<item name="test" xsi:type="object">Hidro\Graylog\Console\Command\Test</item>
			</argument>
		</arguments>
	</type>
	<preference for="Psr\Log\LoggerInterface" type="Hidro\Graylog\Logger\MagentoGrayLog"/>
	<type name="Hidro\Graylog\Logger\MagentoGrayLog" shared="true"/>
    <type name="Magento\Framework\Logger\Monolog">
        <arguments>
            <argument name="handlers"  xsi:type="array">
                <item name="graylog" xsi:type="object">Hidro\Graylog\Logger\Handler\Graylog</item>
            </argument>
        </arguments>
    </type>
    <!--        Update for fix the core Magento 2 issue: https://github.com/magento/magento2/issues/8285 -->
<!--    <type name="Monolog\Logger">-->
<!--        <plugin name="Hidro_Graylog::disable_external_handlers" type="\Hidro\Graylog\Plugin\Logger\Monolog"/>-->
<!--    </type>-->
</config>
