<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
	<type name="Magento\Framework\Console\CommandList">
		<arguments>
			<argument name="commands" xsi:type="array">
				<item name="test" xsi:type="object">Hidro\Graylog\Console\Command\Test</item>
			</argument>
		</arguments>
	</type>
	<preference for="Psr\Log\LoggerInterface" type="Hidro\Graylog\Logger\GrayLog" />
</config>
